@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color: #fff;
$secondary-color: #262626;
$third-color: #000;
$fourth-color: #0067b8;
$fifth-color: #333;
$sixth-color: #f4f4f4;
$seventh-color: #f2f2f2;
$eightth-color: #616161;