@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background: $primary-color;
  color: $third-color;
  font-size: 0.9rem;
  line-height: 1.5;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.menu-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1.25rem;
  left: 1.6rem;
  z-index: 20;

  i {
    font-size: 1.23rem;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1.25rem 0;
  font-size: 0.8rem;

  ul {
    display: flex;

    li {
      padding: 0 0.625em;

      a {
        padding-bottom: 0.4rem;

        &:hover {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }

  .main-menu {
    flex: 1;
    margin-left: 0.625rem;
    margin-bottom: -0.4rem;
  }

  .logo {
    width: 110px;
    margin-right: 1.25rem;
  }

  i {
    font-size: 1rem;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  color: $primary-color;
  background: $secondary-color;

  &:hover {
    opacity: 0.9;
  }
}

.dark {
  color: $primary-color;

  .btn {
    color: $fifth-color;
    background: $sixth-color;
  }
}

.showcase {
  width: 100%;
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 3.125rem;
  margin-bottom: 1.25rem;
  z-index: 10;
  color: $primary-color;

  h2,
  p {
    margin-bottom: 0.625rem;
  }

  .btn {
    margin-top: 1.25rem;
  }
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  h3 {
    margin-bottom: 0.2rem;
  }

  a {
    display: inline-block;
    padding-top: 0.625rem;
    color: $fourth-color;
    text-transform: uppercase;
    font-weight: 600;

    &:hover i {
      margin-left: 0.625rem;
    }
  }
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Green Office --------------------------------*/
/*----------------------------------------------------------------------------*/
.office {
  display: block;
  width: 100%;
  height: 350px;
  background: url("../img/office.png") no-repeat center center/cover;
  margin-bottom: 1.25rem;

  .content {
    width: 60%;
    padding: 6.25rem 0 0 1.875rem;
  }

  p {
    margin: 0.625rem 0 1.25rem 0;
  }
}

/*----------------------------------------------------------------------------*/
/*-------------------------------- Explore -----------------------------------*/
/*----------------------------------------------------------------------------*/
.explore {
  width: 100%;
  height: 350px;
  background: url("../img/explore.jpg") no-repeat center center/cover;
  margin-bottom: 1.25rem;
}

.explore .content {
  width: 55%;
  padding: 6.25rem 0 0 1.875rem;
}

.explore p {
  margin: 0.625rem 0 1.25rem 0;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------- Follow ------------------------------------*/
/*----------------------------------------------------------------------------*/
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0 2rem;
}

.follow * {
  margin-right: 0.625rem;
}

.follow i {
  font-size: 1.6rem;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------- Links -------------------------------------*/
/*----------------------------------------------------------------------------*/
.links {
  background: var(--seventh-color);
  color: var(--eightth-color);
  font-size: 0.65rem;
  padding: 2.1875rem 0;
}

.links-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  max-width: 1100px;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.links li {
  line-height: 2.8;
}

/*----------------------------------------------------------------------------*/
/*------------------------------- Footer -------------------------------------*/
/*----------------------------------------------------------------------------*/
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 0.66rem;
  padding: 1.25rem 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .country {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.footer .country i {
  margin-right: 0.625rem;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 1.875rem;
  margin-bottom: 1.25rem;
}

@import "media";
